/* 标准开头 */
* {
    padding: 0px;
    margin: 0px;
}
/* 以下两个webkit滑动条设置,目前将其设置为0px,来显示无滑动条的页面,也可以设置成为其他的样式 */

::-webkit-scrollbar {
   width: 0px;
   height: 0px;
   background-color: rgba(236, 240, 241, 1.0);
}
::-webkit-scrollbar-thumb {
   width: 0px;
   height: 0px;
   background-color: rgba(16, 19, 80, 1.0);
   border-radius: 5px;
}

/* 0-500小型缩放的显示,同时带出手机端的适配 */
@media (max-width: 500px) {}
/* 500-1000中型缩放显示,用于电脑的普通缩放 */
@media (min-width: 501px) {}
/* 正产页面大小,带出页面略微缩放时的样式表 */
@media (min-width: 1000px) {
	#cat-foot-font {
		width: 800px;
		height: 70px;
		background-color: rgba(252,228,236 ,1);
		margin: 70px auto;
		border-radius: 0 50px 10px 0;
		border: solid 4px rgba(109,76,65 ,1);
	}
	#cat-foot-font::after {
		content: "";
		display: block;
		width: 10px;
		height: 110px;
		background-color: bisque;
		float: right;
		transform: translateY(-80px);
		transform: translateX(14px);
	}
    
}
